body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

h5{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}



header {
    background-color: steelblue;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333333;
    padding: 10px;
}

.section-title {
    color: #336699;
}

footer {
    background-color: steelblue;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

iframe {
    display: block;
    margin: 0 auto;
}
